.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}